body {
    margin: 0;
    background-color: grey;
}
header{
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    display: block;
    
}
.card{
    text-align: center;
    float:left;
    box-shadow: 1rem 1rem 1rem 1rem;
}
.container{
    text-align: center;
}

